<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815691565827-sb238579jnlqhh63l3ptr7j4au65roqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815691565827-sb238579jnlqhh63l3ptr7j4au65roqe</string>
	<key>API_KEY</key>
	<string>AIzaSyD1ZkFOn5ItKtFoDgVisfNefsxqCOvfJcM</string>
	<key>GCM_SENDER_ID</key>
	<string>815691565827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileApp</string>
	<key>PROJECT_ID</key>
	<string>recurring-todos</string>
	<key>STORAGE_BUCKET</key>
	<string>recurring-todos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815691565827:ios:b9e6c8f7dc8c1c4d8ff736</string>
	<key>DATABASE_URL</key>
	<string>https://recurring-todos.firebaseio.com</string>
</dict>
</plist>